


/* Styles for the navigation bar */
nav {
    background-color: #d3ae19;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
  }

  /* Style for the PokeBall logo */
  img{
    width: 70px;
    height: 70px;
    margin-left: 80px;
  }

 
  
  /* Style for the h1 element */
  h1 {
    font-size: 40px;
    margin: 0;
    padding-left: 10px;
   
  }
  nav h1 :hover{
    color: red;
  }
  
  /* Style for the Pokedex link */
  nav a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-right: 80px;
  }
  
  nav a:hover {
    color: #ff0000; /* Change the color on hover */
    
  }


/* Custom CSS for styling the navigation */
.nav-container {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center items vertically */
}

.nav-container img {
  margin-right: 5px; /* Add a small spacing between logo and link */
}

.nav-container a {
  text-decoration: none; /* Remove default underline */
  color: #333; /* Adjust link color */
  margin: 0; /* Reset margin */
}




 
  
  